@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
/* The switch - the box around the slider */
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  border: 2px solid #414141;
  border-radius: 50px;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  left: 0.2em;
  bottom: 0.2em;
  background-color: white;
  border-radius: inherit;
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}

.switch input:checked + .slider {
  box-shadow: 0 0 20px rgba(83, 83, 83);
  border: 2px solid rgba(255, 255, 255, 0.322);
}

.switch input:checked + .slider:before {
  transform: translateX(1.5em);
}

#Search::-webkit-search-cancel-button {
  -webkit-appearance: none;
}



.btn {
  font-size: 1rem;
  font-weight: 700;
  padding: 0.5rem 2rem;
  border: none;
  outline: none;
  border-radius: 0.4rem;
  cursor: pointer;
  text-transform: uppercase;
  background-color: black;
  color: rgb(234, 234, 234);
  transition: 0.6s;
  box-shadow: 0px 0px 40px rgba(255, 255, 255, 0.247);
  -webkit-box-reflect: below 10px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4));
}

.btn:active {
  scale: 0.98;
}

.btn:hover {
  transition: ease-in 0.2s;
  background: rgb(2,29,78);
  background: linear-gradient(270deg, rgba(255, 255, 255, 0.2) 0%, rgba(83, 83, 83) 60%);
  color: rgb(4, 4, 38);
}

/*--------------Scrollbar--------------*/
#style-2::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
  display: none;
}

#style-2::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
  display: none;
}

#style-2::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #53535310;
  display: none;
}

/*----------------Modal---------------*/
.cookies-card {
  width: 400px;
  height: 220px;
  background-color: rgb(255, 250, 250);
  border-radius: 10px;
  border: 1px solid rgb(206, 206, 206);
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.066);
}
.cookie-heading {
  color: rgb(34, 34, 34);
  font-weight: 800;
  font-size: 25px;
}
.cookie-para {
  font-size: 20px;
  font-weight: 400;
  color: rgb(51, 51, 51);
}
.cookie-button {
  width: 50%;
  padding: 8px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.accept {
  background-color: rgb(34, 34, 34);
  color: white;
}
.accept:hover {
  background-color: rgb(0, 0, 0);
}
.blackBackground{
  background-color: black; 
  position: absolute; 
  top: 0; 
  bottom: 0; 
  left: 0; 
  right: 0; 
  opacity: 0.6;
}